<div class="p-grid p-4">
  <section class="p-col-12">
    <p-dropdown [options]="weeks" (onChange)="onChangeWeek($event)" [(ngModel)]="selectedWeek" optionalLabel="weekName"></p-dropdown>
  </section>
  <section class="p-col-12 py-4">
    <h1>NFL Schedule</h1>
  </section>
  <section>
    <p-table
      *ngFor="let dateTime of gameTimes"
      selectionMode="multiple"
      [(selection)]="selectedGame"
      [columns]="gameCols"
      [value]="gamesByDateTime(dateTime)"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <tr>
          <th>
            {{ formatDateTime(dateTime, 'date') }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-game let-expanded="expanded">
        <tr [pSelectableRow]="game" [pRowToggler]="game">
          <td width="120" align="right">
            {{ formatDateTime(dateTime, 'time') }}
          </td>
          <td width="55">
            {{ game.broadcasts }}
          </td>
          <td class="matchup-info">
            <div class="home team">
              <div><img src="{{ game.homeTeam.logo }}" /></div>
              <div class="body0 pr-3 pl-1">{{ game.homeTeam.name }}</div>
              <div class="body2 record">({{ game.homeTeam.record }})</div>
            </div>
            <div class="px-3 body2">
              AT
            </div>
            <div class="away team">
              <div><img src="{{ game.awayTeam.logo }}" /></div>
              <div class="body0 pl-3 pr-1">{{ game.awayTeam.name }}</div>
              <div class="body2 record">({{ game.awayTeam.record }})</div>
            </div>
          </td>
          <td width="90" align="center">
            <div>{{ game.venue.indoor ? 'INSIDE' : 'OUTSIDE' }}</div>
          </td>
          <td width="50" align="center">
            <div>{{ game.temperature }}</div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-game>
        <tr>
          <td colspan="3">
            <div class="p-grid -fluid" style="font-size: 16px; padding: 20px;">
              <div class="p-col-12 p-md-9">
                <div class="p-grid">
                  <img width="50" [style.background-color]="'#' + game.homeTeam.color" [attr.src]="game.homeTeam.logo" />
                  <h3>{{ game.name }}</h3>
                  <img width="50" [style.background-color]="'#' + game.awayTeam.color" [attr.src]="game.awayTeam.logo" />
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
