<div class="p-grid p-4">
  <section class="p-col-12">
    <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
  </section>
  <section class="p-col-12 py-4">
    <h1>NFL Schedule</h1>
  </section>
  <section>
    <p-table
      *ngFor="let dateTime of gameTimes"
      selectionMode="multiple"
      [(selection)]="selectedGame"
      [columns]="gameCols"
      [value]="gamesByDateTime(dateTime)"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr align="left">
          <th [attr.colspan]="gameCols.length">
            {{ formatDateTime(dateTime) }}
          </th>
        </tr></ng-template
      >
      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="rowData" [pRowToggler]="rowData">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="p-grid -fluid" style="font-size: 16px; padding: 20px;">
              <div class="p-col-12 p-md-9">
                <div class="p-grid">
                  <div *ngFor="let details of rowData.competitions" class="p-col-12">
                    <ng-container *ngFor="let teamData of details.competitors">
                      <h3>
                        <img width="30" [attr.alt]="teamData.team.name" [attr.src]="teamData.team.logo" />
                        {{ teamData.team.displayName }}
                      </h3>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <p-table selectionMode="multiple" [(selection)]="selectedCar" [columns]="cols" [value]="cars" dataKey="vin">
      <ng-template pTemplate="caption">
        List of Cars
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="rowData" [pRowToggler]="rowData">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="p-grid -fluid" style="font-size: 16px; padding: 20px;">
              <div class="p-col-12 p-md-3" style="text-align: center;">
                <img [attr.alt]="rowData.brand" src="" />
              </div>
              <div class="p-col-12 p-md-9">
                <div class="p-grid">
                  <div class="p-col-12"><b>Vin:</b> {{ rowData.vin }}</div>
                  <div class="p-col-12"><b>Year:</b> {{ rowData.year }}</div>
                  <div class="p-col-12"><b>Brand:</b> {{ rowData.brand }}</div>
                  <div class="p-col-12"><b>Color:</b> {{ rowData.color }}</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table> -->
  </section>
</div>
