.teamCol {
  // display: flex;
}

.teamImage {
  color: blue;
}

img {
  width: 40px;
}

.game-record {
  font-size: 14px;
}

.matchup-info {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  .team {
    width: 48%;
    display: flex;
    align-items: center;
  }
  .home {
    flex-direction: row-reverse;
  }
  .away {
    flex-direction: row;
  }
}
